# Assignment 2

## Instructions - Please read these instructions THOROUGHLY First! 

This is an individual homework assignment. The implication of this is that:

- You may discuss the problems in this assignment with other students in this course and your instructor/TA, but YOUR WORK MUST BE YOUR OWN.
- Do not show other students code or your own work on this assignment.
- You may consult external references, but not actively receive help from individuals not involved in this course.
- Cite all references outside of the course you used, including conversations with other students which were helpful. (This helps us give credit where it is due!). All references must use a commonly accepted reference format, for example, APA or IEEE (or another citation style of your choice).

If any of these rules seem ambiguous, please check with with your instructor for help interpreting them.

We suggest completing this assignment using the provided notebook. Each question should be answered using a SQL query (or combination or SQL queries) unless the text indicates that you may do something else. You may submit your queries embedded in Python, using SQLAlchemy or the MySQL Connector, or as plain text in Markdown.

## When you submit your work

Your submission will be graded manually. To ensure that everything goes smoothly, please follow these instructions to prepare your notebook for submission to the D2L Dropbox for Assignment 2:

- Please remove any print statments used to test your work (this is done by commenting them out)
- Please provide your solutions where asked; And please do not alter any other parts of this notebook.
- If you need to add cells to test your code please move them to the end of the notebook before submission- or you may include your commented out answers and tests in the cells provided

## Introduction

 In this assignment, we will focus familiarizing you with using SQL for data exploration, and continuing to cultivate a sense of curiosity about the datasets you encounter. We will be using a CSV File generated by the <b>City of Edmonton</b> containing Licensed Pets in the city. It is assumed that this table has been pre-cleaned (although potentially not entirely) so that you can work on the actual assignment more quickly. This assignment has four (4) parts: PARTS A, B, C, and D.
 
 To begin, start by importing the provided CSV into your own SQL database using SQLAlchemy, by filling in the lines below:

In [1]:
import pandas as pd
import sqlalchemy as sq

# read in your CSV as a dataframe
data = pd.read_csv("Licensed_Pets_by_Breed_and_Forward_Sortation_Area__FSA_.csv")
data.head()

# connect to your database; include a cell at the bottom of this notebook to dispose of your engine object
engine = sq.create_engine('mysql+mysqlconnector://sean_anselmo:4i1tawVQFvTUd@datasciencedb.ucalgary.ca/sean_anselmo')

# write your dataframe into a table
data.to_sql('data', engine)

# demonstrate that your import has been successful by reading your database table as a dataframe, 
# and print some information (not the entire table) about your second dataframe

data_df = pd.read_sql_table("data", engine)
data_df.head()

ValueError: Table 'data' already exists.

## Part A: Warm-up Questions (12 marks)

Answer the questions below, including the queries you used where necessary. Not all questions will require writing a SQL query to answer.

**(A1): (1 mark)**

How many records are there in total? (<b>Please show the SQL query</b>)

In [4]:
queryA1 = """SELECT COUNT(*) FROM data;"""

A1 = pd.read_sql_query(queryA1, engine)
print(A1)

   COUNT(*)
0      5626

**(A2): (1.5 mark)**

How many known areas were covered in the dataset? (<b>Please show the SQL query</b>)

In [6]:
queryA2 = "SELECT COUNT(DISTINCT `FORWARD SORTATION AREA`) AS unique_areas FROM data"

A2 = pd.read_sql_query(queryA2, engine)
print(A2)

   unique_areas
0            39

**(A3): (1.5 mark)**

How many unknown areas were covered in the dataset? (<b>Please show the SQL query</b>)

In [7]:
#Unknown areas are counted as nulls
queryA3 = "SELECT COUNT(*) AS NullCount FROM data WHERE `FORWARD SORTATION AREA` IS NULL;"

A3 = pd.read_sql_query(queryA3, engine)
print(A3)

   NullCount
0          4

**(A4): (4 marks)**

Explain what each of the following columns is used for. You may use the original page to guide your explanation (but you should cite it)
* FORWARD SORTATION AREA (1 mark)
* ANIMAL (1 mark)
* BREED (1 mark)
* COUNT (1 mark)

Forward Sortation Area: The area code for which the data is gathered. This is the first three characters of a postal code.

Animal: The species of animal documented, either dog, cat or pigeon.

Breed: Identifying information about each animal type. Different animal types can share breeds (as seen in Domestic Short Hair) but typically don't. Pigeons can only have the breed PIGEON.

Count: Amount of entries for that specific breed of animal in their respecitve area code.

**(A5): (4 marks)**

Thinking outside the box, would it be possible to find the actual names of the community/munipalities/streets in this dataset? Why or why not? (<b>Please explain clearly and concisely.

The first letter identifies the province or territory, the second letter designates if it is urban or rural, and the third letter provides a precise geographic district. With all this, you are able to find a commuinity with this code. However, you are not able to go to street accuracy, you would need the last 3 digits of the postal code to get that accurate. To test this, simply google the FSA digits followed by "FSA".

## Part B: Simple questions (10 marks) 

For these queries, run a query which provides the answer.

**(B1): (2 marks)**

List in <b>descending order</b> Five (5) Areas with the highest numbers of licensed Dogs

In [9]:
queryB1 = """
SELECT `FORWARD SORTATION AREA`, COUNT(*) AS NumberOfLicensedDogs
FROM data
WHERE `ANIMAL TYPE` = 'Dog'
GROUP BY `FORWARD SORTATION AREA`
ORDER BY NumberOfLicensedDogs DESC
LIMIT 5;
"""

B1 = pd.read_sql_query(queryB1, engine)
print(B1)

  FORWARD SORTATION AREA  NumberOfLicensedDogs
0                    T6L                   170
1                    T5T                   168
2                    T6J                   167
3                    T5R                   158
4                    T6H                   150

**(B2): (2 marks)**

How many Dog Breeds were captured in this dataset?

In [8]:
queryB2 = """
SELECT COUNT(DISTINCT `BREED`) AS NumberOfDogBreeds
FROM data
WHERE `ANIMAL TYPE` = 'Dog';
"""

B2 = pd.read_sql_query(queryB2, engine)
print(B2)

   NumberOfDogBreeds
0                247

**(B3): (2 marks)**

Which Cat Breed is licensed the most? (1 Mark) How many are there in total? (1 Mark)

In [9]:
queryB3A = """
SELECT BREED, SUM(COUNT) AS Total_Licenses
FROM data
WHERE `ANIMAL TYPE` = 'Cat'
GROUP BY BREED
ORDER BY Total_Licenses DESC
LIMIT 1;
"""
B3A = pd.read_sql_query(queryB3A, engine)
print(B3A)

                 BREED  Total_Licenses
0  DOMESTIC SHORT HAIR         20891.0

**(B4): (2 marks)**

Produce a table comprising of Areas and corresponding Counts for Cats of Breed types 'Himalayan' and 'Domestic Short Hair'

In [4]:
queryB4 = """
SELECT `FORWARD SORTATION AREA` AS Area, SUM(COUNT) AS Total_Count
FROM data
WHERE `ANIMAL TYPE` = 'Cat' AND `BREED` IN ('HIMALAYAN', 'DOMESTIC SHORT HAIR')
GROUP BY `FORWARD SORTATION AREA`;
"""

B4 = pd.read_sql_query(queryB4, engine)
print(B4)

    Area  Total_Count
0   None          1.0
1    T3L          1.0
2    T5A       1002.0
3    T5B        615.0
4    T5C        477.0
5    T5E        878.0
6    T5G        436.0
7    T5H        529.0
8    T5J         60.0
9    T5K        472.0
10   T5L        695.0
11   T5M        551.0
12   T5N        466.0
13   T5P        642.0
14   T5R        821.0
15   T5S        128.0
16   T5T       1516.0
17   T5V         14.0
18   T5W        765.0
19   T5X        989.0
20   T5Y        892.0
21   T5Z        459.0
22   T6A        421.0
23   T6B        322.0
24   T6C        752.0
25   T6E        725.0
26   T6G        332.0
27   T6H        849.0
28   T6J       1010.0
29   T6K        747.0
30   T6L       1288.0
31   T6M        456.0
32   T6N          5.0
33   T6P         96.0
34   T6R        627.0
35   T6S          2.0
36   T6T        314.0
37   T6V        261.0
38   T6W        371.0
39   T6X        268.0

**(B5): (2 marks)**

What is the ratio of Cats to Dogs in this dataset?

In [29]:
queryB5 = """
SELECT 
    (SELECT SUM(COUNT) FROM data WHERE `ANIMAL TYPE` = 'Cat') AS Total_Cat_Counts,
    (SELECT SUM(COUNT) FROM data WHERE `ANIMAL TYPE` = 'Dog') AS Total_Dog_Counts;
"""

B5 = pd.read_sql_query(queryB5, engine)
print(B5)

   Total_Cat_Counts  Total_Dog_Counts
0           33746.0           62332.0

## Part C: Detailed analysis (20 marks)

Now consider being given a task to make sense of the distribution of licensed pets based on this dataset.

**(C1):(4 marks)**

Create two guiding questions to use in your analysis, and include them below as Markdown. As a starting point (and remember you are not limited to only these!), you may want to consider the following ideas:
- Focus on a specific set of data from the dataset that interest you
- Consider the areas with multiple breeds within the broad pet categories
- What would you say in terms of patterns of licensed pets within the specific areas of focus

Guiding Questions:

1. What does the breed variety look like per animal?
2. Does the amount of animal registered affect which breed is common?

**(C2): (12 marks)** 

Write at least four queries (that is, two queries for each question) which you believe will address one of your guiding questions. Clearly indicate which queries address your questions. You may wish to include a comment to explain why this query will help address your question.

In [11]:
#Question 1
#First query lists the number of distinct breeds to each animal type. This gives us an idea on how spread out
#the variability of breeds are
query1A = """
SELECT `ANIMAL TYPE`, COUNT(DISTINCT `BREED`) AS Breed_Variety
FROM data
GROUP BY `ANIMAL TYPE`
ORDER BY Breed_Variety DESC;
"""
t1A = pd.read_sql_query(query1A, engine)
print(t1A)

#Second query lists the breeds within each animal type. We have more dogs than cats in this dataset, so we 
#can expect dog breeds to have the most totals. However, what we see is not the case, meaning dog
#breeds have more variance than cats.
query1B = """
SELECT `ANIMAL TYPE`, `BREED`, SUM(`COUNT`) AS Total
FROM data
GROUP BY `ANIMAL TYPE`, `BREED`
ORDER BY `ANIMAL TYPE`, Total DESC;
"""
t1B = pd.read_sql_query(query1B, engine)
print(t1B)

#Question 2
#First query finds the total liscenses issued per FSA. This gives us a reference point to look at when we are
#looking at specific breed counts per are
query2A = """
SELECT `FORWARD SORTATION AREA` AS FSA, SUM(`COUNT`) AS Total_Pets
FROM data
GROUP BY FSA
ORDER BY Total_Pets DESC;
"""
t2A = pd.read_sql_query(query2A, engine)
print(t2A)

#Second query finds the most common breed associated with each FSA. We are looking at 
#TST area code which has the highest count, and the T6G which is the lowest counts in the thousands.
query2B1 = """
SELECT `FORWARD SORTATION AREA` AS FSA, `BREED`, SUM(`COUNT`) AS Total_Breed_Count
FROM data
WHERE `FORWARD SORTATION AREA` = 'T5T'
GROUP BY `BREED`
ORDER BY Total_Breed_Count DESC
LIMIT 5;
"""
t2B1 = pd.read_sql_query(query2B1, engine)
print(t2B1)

query2B2 = """
SELECT `FORWARD SORTATION AREA` AS FSA, `BREED`, SUM(`COUNT`) AS Total_Breed_Count
FROM data
WHERE `FORWARD SORTATION AREA` = 'T6G'
GROUP BY `BREED`
ORDER BY Total_Breed_Count DESC
LIMIT 5;
"""
t2B2 = pd.read_sql_query(query2B2, engine)
print(t2B2)

  ANIMAL TYPE  Breed_Variety
0         Dog            247
1         Cat             84
2     Pigeons              1
    ANIMAL TYPE                 BREED    Total
0           Cat   DOMESTIC SHORT HAIR  20891.0
1           Cat  DOMESTIC MEDIUM HAIR   5154.0
2           Cat     DOMESTIC LONGHAIR   2717.0
3           Cat               SIAMESE   1403.0
4           Cat               UNKNOWN    493.0
..          ...                   ...      ...
327         Dog        SIBERIAN (CAT)      1.0
328         Dog      SILKEN WINDHOUND      1.0
329         Dog            ABYSSINIAN      1.0
330         Dog         MAU, EGYPTIAN      1.0
331     Pigeons                PIGEON     14.0

[332 rows x 3 columns]
     FSA  Total_Pets
0    T5T      6879.0
1    T6L      6362.0
2    T5X      4593.0
3    T6J      4561.0
4    T5Y      4548.0
5    T5A      4461.0
6    T6R      4007.0
7    T5R      3683.0
8    T5E      3672.0
9    T5W      3545.0
10   T6K      3425.0
11   T6H      3329.0
12   T6C      2987.0
13   T5L      2869.0
14   T5Z      2697.0
15   T5P      2665.0
16   T6M      2641.0
17   T6E      2509.0
18   T5B      2471.0
19   T6W      2176.0
20   T6A      2074.0
21   T5C      2064.0
22   T5N      2008.0
23   T5M      1996.0
24   T6T      1945.0
25   T5G      1811.0
26   T5H      1805.0
27   T6V      1560.0
28   T6X      1538.0
29   T6B      1383.0
30   T5K      1301.0
31   T6G      1117.0
32   T5S       692.0
33   T6P       396.0
34   T5J       212.0
35   T5V        67.0
36   T6N        23.0
37   T6S        14.0
38  None         5.0
39   T3L         1.0
   FSA                 BREED  Total_Breed_Count
0  T5T   DOMESTIC SHORT HAIR             1488.0
1  T5T              SHIH TZU              508.0
2  T5T    LABRADOR RETRIEVER              376.0
3  T5T  DOMESTIC MEDIUM HAIR              350.0
4  T5T          BICHON FRISE              312.0
   FSA                 BREED  Total_Breed_Count
0  T6G   DOMESTIC SHORT HAIR              326.0
1  T6G    LABRADOR RETRIEVER               88.0
2  T6G  DOMESTIC MEDIUM HAIR               67.0
3  T6G       GERMAN SHEPHERD               45.0
4  T6G     DOMESTIC LONGHAIR               34.0

**(C3): (4 marks)**

What kind of data would be interesting to have to be able to make more sense of the dataset? (1 Mark) Discuss how you could use this additional information to extend one of your guiding questions. (3 Marks)

## Part D: Reflection (5 marks)

In 100 to 250 words, identify a concept you have found difficult or confusing from this assignment. Reflect on how your previous learning or experience helped you to understand this concept. Provide your reflection using markdown in the cell below

The hardest part of this assignment was to develop the proper queries for each question. More specifically, trying to figure out which question to ask was harder than trying to write the query itself. Using Excel to physically look at the data helped me determine the route of my question, and also check my queries were functioning as intended. The nature of the data made it easier for myself. If the data was in json, I would have a more difficult time navigating it manually. 

I also found the Part C of this assignment to be the hardest part. This was hard because I wanted to develop questions and queries that were not related to the questions we were asked in Part B and A. I leaned towards mathematical investigations, but I feel like that would not be as true the investigation. For example, I wanted to examine the standard deviation of the pet breed counts between different FSA, but this would be more of a mathematical approach rather than an investigatory.

In [ ]:
# Use this cell to include some code to dispose of your SQLAlchemy engine object
engine.dispose()

## References

City of Edmonton (2019). Retrieved From: https://data.edmonton.ca/Demographics/Licensed-Pets-by-Breed-and-Forward-Sortation-Area-/bqmh-j34s