In [1]:
import numpy as np
import pandas as pd
import sklearn as sk
import sklearn.metrics as skm
import sklearn.cluster as skc
import sklearn.preprocessing as skp
import matplotlib.pyplot as plt
import altair as alt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import scale # Data scaling
from sklearn import decomposition #PCA
import pandas as pd # pandas

In [2]:
class_data_url='/content/Soccer Dataset.csv'
df_frame = pd.read_csv('World Bank Data.csv')
df_frame.index += 1
df_frame.head()

,Time,Country,Access to clean fuels and technologies for cooking,GDP per capita (constant 2015 US$),"Life expectancy at birth, total (years)","Literacy rate, adult total",Access to electricity,"Employment to population ratio, 15+",CO2 emissions,Mobile cellular subscriptions,Poverty headcount ratio at $2.15 a day
1,1994,Andorra,NaN,28144.387620,NaN,NaN,100.000000,NaN,6.663237,1.284467,NaN
2,1994,Austria,NaN,32962.817420,76.419512,NaN,100.000000,56.975,7.344674,3.505812,0.2
3,1994,Burundi,NaN,408.419316,44.080000,NaN,NaN,NaN,0.037699,0.006766,NaN
4,1994,Cameroon,NaN,1048.987213,53.528000,NaN,34.999504,NaN,0.359510,0.012452,NaN
5,1994,"Gambia, The",NaN,633.570420,54.721000,NaN,18.250050,NaN,0.171824,0.067337,NaN

In [4]:
df_hw_frame = df_frame[['CO2 emissions', 'Mobile cellular subscriptions']]
df_hw_frame.head()

KeyError: "None of [Index(['CO2 emissions', 'Mobile cellular subscriptions'], dtype='object')] are in the [columns]"