# Assignment 3

## Instructions - Read this first!

This is an individual homework assignment. This means that:

- You may discuss the problems in this assignment with other students in this course and your instructor/TA, but YOUR WORK MUST BE YOUR OWN.
- Do not show other students code or your own work on this assignment.
- You may consult external references, but not actively receive help from individuals not involved in this course.
- Cite all references outside of the course you used, including conversations with other students which were helpful. (This helps us give credit where it is due!). All references must use a commonly accepted reference format, for example, APA or IEEE (or another citation style of your choice).

If any of these rules seem ambiguous, please check with with your instructor for help interpreting them.

We suggest completing this assignment using the provided notebook. Each question should be answered using a SQL query (or combination or SQL queries) unless the text indicates that you may (or should) do something else. You may submit your queries embedded in Python, using SQLAlchemy or the MySQL Connector, or as plain text in Markdown.

## When you submit your work

Your submission will be graded manually. To ensure that everything goes smoothly, please follow these instructions to prepare your notebook for submission to the D2L Dropbox for Assignment 3:

- Please remove any print statments used to test your work (you can comment them out)
- Please provide your solutions where asked; please do not alter any other parts of this notebook.
- If you need to add cells to test your code please move them to the end of the notebook before submission- or you may included your commented out answers and tests in the cells provided

## Introduction

In this assignment, you will continue to practice and extend your SQL skills, and contemplate the use of MongoDB.

We will be using two datasets from the City of Calgary's Open Data Portal. 

 * `School_Enrolment_Data_20240324.csv` lists annual student enrolment from ECS to Grade 12 throughout Calgary. You can find out more about this dataset from the [City of Calgary's Open Data Portal](https://data.calgary.ca/Demographics/School-Enrolment-Data/9qye-mibh/about_data).
 * `Schools_20240324.csv` lists location and information of schools and post-secondary institutions including school name, address, phone number and grade level. . You can find out more about this dataset from the [City of Calgary's Open Data Portal](https://data.calgary.ca/Services-and-Amenities/Schools/fd9t-tdn2/about_data)

Both datasets are licensed under the [Open Government License - Calgary](https://data.calgary.ca/stories/s/Open-Calgary-Terms-of-Use/u45n-7awa).

## Data cleaning and import

First, import the two CSVs into your own database. You may use what is available to you on `datasciencedb`. You may also create indexes and define keys if appropriate for the column(s) of your choice.

In the section below, you have the option to discuss any data cleaning and wrangling steps performed during this process. This is not a requirement and will not be assessed directly for grading; however, this may help to clarify to your reader exactly what was done, to make your work below more understandable.

In [38]:
import pandas as pd
import sqlalchemy as sq

Enrollment = pd.read_csv("School_Enrolment_Data_20240324.csv")
Enrollment.head()
School = pd.read_csv("Schools_20240324.csv")
School.head()
engine = sq.create_engine('mysql+mysqlconnector://sean_anselmo:4i1tawVQFvTUd@datasciencedb.ucalgary.ca/sean_anselmo')

Enrollment.to_sql('Enrollment', engine)
School.to_sql('School', engine)



School_df = pd.read_sql_table("School", engine)
data_df.head()

Enrollment_df = pd.read_sql_table("Enrollment", engine)
data_df.head()

ValueError: Table 'Enrollment' already exists.

## Part A: Warm-up Questions (10 marks)

Answer the questions below, including any queries you used where necessary. Not all questions will necessarily require a SQL query for a correct response. You may wish to use as a source the references which are already provided as part of this notebook.

First, let's look at the School Enrolment Data.

1. How many schools are included in this file? **(1 mark)**


2.  While not all columns are equally interesting, name columns which could be used as a primary key for this dataset. **(2 marks)**

 
3. How many students participated in Calgary Home Education in 2018-2019 compared to 2020-2021? **(2 marks)**

In [39]:
queryA1 = "SELECT COUNT(DISTINCT `NAME`) AS unique_schools FROM School"

A1 = pd.read_sql_query(queryA1, engine)
print(A1)

   unique_schools
0             487

Answer to A2:

The name column can be used as a primary Key. This is because it is unique to each row in the schools dataset, and can be connected to the enrollment dataset.

In [40]:
queryA3 = """
SELECT 
    `School Year`,
    SUM(`Total`) as total_students
FROM 
    Enrollment
WHERE 
    `School Name` = 'Calgary Home Education' AND
    (`School Year` = '2018-2019' OR `School Year` = '2018_2019' OR `School Year` = '2020-2021')
GROUP BY 
    `School Year`
ORDER BY 
    `School Year`;
    """

A3 = pd.read_sql_query(queryA3, engine)
print(A3)

  School Year  total_students
0   2018_2019           197.0
1   2020-2021           420.0

Next, let's look at the School Location table. 

4. Are there any schools without phone numbers listed? **(1 mark)**


5. Which columns would be suitable primary keys for this table? **(1 mark)**


6. What forward sortation area(s) have the most schools? **(3 marks)**

In [13]:
queryA4 = """
SELECT COUNT(*)
FROM School
WHERE PHONE_NO IS NULL OR PHONE_NO = '';
"""
A4 = pd.read_sql_query(queryA4, engine)
print(A4)

   COUNT(*)
0        10

Answer to A5:

A great primary key is this data set would be school name as well. it is unique to each entry and can be used as a key.

In [14]:
queryA6 = """
SELECT LEFT(POSTAL_COD, 3) AS FSA, COUNT(*) AS NumberOfSchools
FROM School
GROUP BY FSA
ORDER BY NumberOfSchools DESC
LIMIT 1;
"""
A6 = pd.read_sql_query(queryA6, engine)
print(A6)

   FSA  NumberOfSchools
0  T2A               31

## Part B: SQL with multiple tables (15 marks)

For each school, provide the name, postal code, school authority category, and school authority name. How many schools are listed if you use an inner join as opposed to a a left or right (outer) join? What explains the discrepancy? **(4 marks)**

List all schools not listed as private schools with their name and address and which did not have Grade 5 students in 2019-2020 **(1 mark)**

Are there any schools that have grades listed as "Unknown" that you could update based on the enrolment table? Get the names of these schools. Which ones could you not update with the enrolment table?  **(4 marks)**

Where there is ECS enrolment at a private school, include the address, school name, and whether the school is an elementary school or secondary school. **(2 marks)**

Report the name and addresses of the schools that have a ECS program and enrolment number for each year from 2013-2022. What is the breakdown of school types (grades in the School dataset) that have ECS enrolment in the most recent year of the enrolment dataset? **(4 marks)**

In [24]:
queryB1a = """
    SELECT Enrollment.`School Name`, School.POSTAL_COD, Enrollment.`School Authority Category`, Enrollment.`School Authority Name`
    FROM Enrollment
    INNER JOIN School ON Enrollment.`School Name` = School.`NAME`
"""
B1a= pd.read_sql_query(queryB1a, engine)
print(B1a)

queryB1b = """
    SELECT Enrollment.`School Name`, School.POSTAL_COD, Enrollment.`School Authority Category`, Enrollment.`School Authority Name`
    FROM Enrollment
    LEFT JOIN School ON Enrollment.`School Name` = School.`NAME`
"""
B1b= pd.read_sql_query(queryB1b, engine)
print(B1b)

                   School Name POSTAL_COD School Authority Category  \
0                Midsun School     T2X3R5                    Public
1          The Hamptons School     T3A6G2                    Public
2         Hidden Valley School     T3A6J2                    Public
3         Crossing Park School     T3J4W8                    Public
4        Battalion Park School     T3H4S2                    Public
...                        ...        ...                       ...
3441     Battalion Park School     T3H4S2                    Public
3442  St. Anne Academic Centre     T2G1N2                  Separate
3443     Peter Lougheed School     T3J5J1                    Public
3444     Battalion Park School     T3H4S2                    Public
3445     Patrick Airlie School     T2A1H9                    Public

                                  School Authority Name
0                        Calgary School District No. 19
1                        Calgary School District No. 19
2                        Calgary School District No. 19
3                        Calgary School District No. 19
4                        Calgary School District No. 19
...                                                 ...
3441                        The Calgary School Division
3442  The Calgary Roman Catholic Separate School Div...
3443                        The Calgary School Division
3444                        The Calgary School Division
3445                        The Calgary School Division

[3446 rows x 4 columns]
                                     School Name POSTAL_COD  \
0                          David Thompson School     T2J1K4
1                          David Thompson School     T2J1K4
2                          David Thompson School     T2J1K4
3                          David Thompson School     T2J1K4
4                          David Thompson School     T2J1K4
...                                          ...        ...
3835                 Sir John A Macdonald School       None
3836  Montessori Children's House Academy Ltd #2       None
3837              Getting Ready For Inclusion To       None
3838  Montessori Children's House Academy Ltd #1       None
3839             Society for Treatment of Autism       None

     School Authority Category  \
0                       Public
1                       Public
2                       Public
3                       Public
4                       Public
...                        ...
3835                    Public
3836                   Private
3837                   Private
3838                   Private
3839                   Private

                                  School Authority Name
0                        Calgary School District No. 19
1                        Calgary School District No. 19
2                        Calgary School District No. 19
3                        Calgary School District No. 19
4                           The Calgary School Division
...                                                 ...
3835                        The Calgary School Division
3836  Montessori Children's House Charity Foundation...
3837  G.R.I.T. (Getting Ready for Inclusion Today) C...
3838  Montessori Children's House Charity Foundation...
3839   Society For Treatment of Autism (Calgary Region)

[3840 rows x 4 columns]

Answer to B1:

An inner join will only return entries where a match is found in both tables, whereas an outer join uses information from one table (depending on the direction) and finds corresponding data in the other table to add to it. Our inner join has 3446 rows, and our outer join has 3839 rows. The reason we see this discrepancy is there are data that exists in the Enrollment data not in the School data.

In [29]:
queryB2 = """
    SELECT Enrollment.`School Name`, School.ADDRESS_AB
    FROM Enrollment
    INNER JOIN School ON Enrollment.`School Name` = School.`NAME`
    WHERE Enrollment.`School Authority Category` <> 'Private'
    AND (Enrollment.`School Year` = '2019-2020' OR Enrollment.`School Year` = '2019_2020')
    AND (Enrollment.`Grade 5` IS NULL OR Enrollment.`Grade 5` = '')
"""
B2 = pd.read_sql_query(queryB2, engine)
print(B2)

                School Name               ADDRESS_AB
0       Bowness High School           4627  77 St NW
1     Ian Bazalgette School          3909  26 Ave SE
2       New Brighton School    30 New Brighton Dr SE
3         Tom Baines School     250 Edgepark Blvd NW
4     Sam Livingston School  12011 Bonaventure Dr SE
..                      ...                      ...
90      Wood's Homes School             805 37 ST NW
91   St. Bonaventure School   1710 Acadia Drive S.E.
92  Alternative High School           5003  20 St SW
93           Tuscany School        990 Tuscany Dr NW
94        St. Helena School     320 - 64 Avenue N.W.

[95 rows x 2 columns]

In [31]:
queryB3 = """
    SELECT DISTINCT School.`NAME`
    FROM School
    LEFT JOIN Enrollment ON School.`NAME` = Enrollment.`School Name`
    WHERE School.`GRADES` = 'Unknown'
    AND Enrollment.`Grade 1` IS NULL
    AND Enrollment.`Grade 2` IS NULL
    AND Enrollment.`Grade 3` IS NULL
    AND Enrollment.`Grade 4` IS NULL
    AND Enrollment.`Grade 5` IS NULL
    AND Enrollment.`Grade 6` IS NULL
    AND Enrollment.`Grade 7` IS NULL
    AND Enrollment.`Grade 8` IS NULL
    AND Enrollment.`Grade 9` IS NULL
    AND Enrollment.`Grade 10` IS NULL
    AND Enrollment.`Grade 11` IS NULL
    AND Enrollment.`Grade 12` IS NULL
"""
B3 = pd.read_sql_query(queryB3, engine)
print(B3)

                                                 NAME
0   Maria Montessori School - cSPACE King Edward L...
1                   Calgary International Academy ECS
2                                CLS Alternative Site
3                 CLS Lord Shaughnessy Writing Centre
4                                       Little Angels
5                            Alberta Chung Wah School
6                     CLS James Fowler Writing Centre
7                          Vista Virtual School South
8    Renfrew Educational Services - Park Place Centre
9    Filipino Language and Cultural School of Calgary
10                    Canadian Montessori School West
11                CLS Lord Beaverbrook Writing Centre
12                     Horizon Heritage Arabic School
13  School of East Indian Languages and Performing...
14                   Canadian Montessori School North
15                     CLS Forest Lawn Writing Centre
16  Renfrew Educational Services - Child Developme...
17        Renfrew Educational Services-Bowness Centre
18                 Palliser Beyond Borders at Calgary
19                            River Valley School ECS
20     Calgary Arts Academy Rosscarrock Middle School

In [34]:
queryB4 = """
    SELECT School.`NAME`, School.ADDRESS_AB,
           CASE
               WHEN School.`GRADES` LIKE '%Elementary%' AND School.`GRADES` NOT LIKE '%Senior High%' THEN 'Elementary'
               WHEN School.`GRADES` LIKE '%Senior High%' AND School.`GRADES` NOT LIKE '%Elementary%' THEN 'Senior High'
               WHEN School.`GRADES` LIKE '%Elementary%' AND School.`GRADES` LIKE '%Senior High%' THEN 'Combined Elementary/Senior High'
               ELSE 'Unknown'
           END as School_Type
    FROM School
    INNER JOIN Enrollment ON School.`NAME` = Enrollment.`School Name`
    WHERE Enrollment.`School Authority Category` <> 'Private'
    AND Enrollment.`ECS` IS NOT NULL AND Enrollment.`ECS` <> ''
"""
B4 = pd.read_sql_query(queryB4, engine)
print(B4)

                       NAME                   ADDRESS_AB School_Type
0       The Hamptons School       10330 Hamptons Blvd NW  Elementary
1      Hidden Valley School   10959 Hidden Valley Dr  NW  Elementary
2      Crossing Park School       500 Martindale Blvd NE  Elementary
3     Battalion Park School        369 Sienna Park Dr SW  Elementary
4      Monterey Park School      7400 California Blvd NE  Elementary
...                     ...                          ...         ...
2282        Braeside School             1747  107 Ave SW  Elementary
2283       Don Bosco School  13615 Deer Ridge Drive S.E.  Elementary
2284  Battalion Park School        369 Sienna Park Dr SW  Elementary
2285  Battalion Park School        369 Sienna Park Dr SW  Elementary
2286  Patrick Airlie School               1520  39 St SE  Elementary

[2287 rows x 3 columns]

In [36]:
#ECS schools from 2013 to 2022

queryB5 = """
SELECT 
    School.`NAME`, 
    School.ADDRESS_AB, 
    Enrollment.`School Year`,
    Enrollment.`ECS`,
    School.`GRADES`
FROM 
    Enrollment
INNER JOIN 
    School ON Enrollment.`School Name` = School.`NAME`
WHERE 
    Enrollment.`ECS` IS NOT NULL AND Enrollment.`ECS` <> ''
    AND Enrollment.`School Year` BETWEEN '2013-2014' AND '2021-2022'
ORDER BY 
    Enrollment.`School Year`, School.`NAME`;
"""
B5 = pd.read_sql_query(queryB5, engine)
print(B5)

                      NAME             ADDRESS_AB School Year   ECS  \
0         Abbeydale School     320 Abergale Dr NE   2013_2014  66.0
1            Acadia School          9603  5 St SE   2013_2014  88.0
2     Alex Ferguson School         1704  26 St SW   2013_2014  37.0
3        Alex Munro School          427 78 Ave NE   2013_2014  68.0
4          Altadore School         4506  16 St SW   2013_2014  39.0
...                    ...                    ...         ...   ...
2107       Westgate School  150 Westminster Dr SW   2021-2022  80.0
2108       Wildwood School          120  45 St SW   2021-2022  45.0
2109   William Reid School        1216  36 Ave SW   2021-2022  74.0
2110       Woodbine School    27 Woodfield Way SW   2021-2022  68.0
2111      Woodlands School     88 Woodgreen Dr SW   2021-2022  38.0

          GRADES
0     Elementary
1     Elementary
2     Elementary
3     Elementary
4     Elementary
...          ...
2107  Elementary
2108  Elementary
2109  Elementary
2110  Elementary
2111  Elementary

[2112 rows x 5 columns]

In [37]:
#To sort by schoool types

queryB52 = """
SELECT 
    School.`GRADES`, 
    COUNT(DISTINCT School.`NAME`) as NumberOfSchools
FROM 
    School
INNER JOIN 
    Enrollment ON School.`NAME` = Enrollment.`School Name`
WHERE 
    Enrollment.`ECS` IS NOT NULL AND Enrollment.`ECS` <> ''
GROUP BY 
    School.`GRADES`;
"""
B52 = pd.read_sql_query(queryB52, engine)
print(B52)

                               GRADES  NumberOfSchools
0                          Elementary              199
1              Elementary/Junior High               52
2  Elementary/Junior High/Senior High                7
3                             Unknown                3

## Part C: Evaluating your results  (6 marks)

**Question 1 (2 marks)**

One thing you may have had consider is your selection of columns from both datasets to use as a key for any joins you performed. Discuss your reasoning behind your choice of key. If you don't think you had a reason in particular, then name another pair of colums which could have been used to execute your joins.

I used School Name as a way to join the datasets. This is because it is unique, and it is present in both datasets. Another key that would work is Postal Code. This is present in the Schools data but not the Enrollment. However, it would be possible to find postal code through the school's information and add it in.

**Question 3 (4 marks)**

It is possible to download the School dataset as a GeoJSON file rather than as a CSV. Imagine that we have loaded this GeoJSON files into MongoDB instead of a relational database.

Do you think it is more easy or difficult to retrieve certain information requested from a table, or from a MongoDB collection? Explain why or why not. 

Consider the result of a join that you had to perform using the datasets. Is there any reason you would store the tables or result in MongoDB as opposed to a relational database? Why or why not?

1. It would be easier to use in a table because of the joins. Relational data is useful to combine tables, and query between them like we did for School and Enrollment. I think it would be much harder to retrieve the information and complete the assigned questions using a MongoDB collection type. However, it is still very much possible.

2. There are a few reasons we would store it MongoDB rather than relational. If we wanted to utilize the functions of the GeoJSON to work with location more, it would be better stored as a MongoDB. Also, if we wanted to scale the data even higher, MongoDB can scale better than relational databases.

## Part E: Reflection (4 marks)

In a brief paragraph for each (no more than 500 words total), answer the following:


1) Identify a skill or concept which you are now more knowledgable or comfortable with now, compared to at the start of DATA 604. 


2) What best helped you to learn this skill or concept? Was it something covered in class, part of an assignment or project, or another resource?


3) Based upon what you have learned, where do you see an opportunity to continue to develop your understanding of this skill?

1. A skill I learned in this course was SQL as a whole. I came into this course having some knowledge, and am now able to ask queries, work with a database, and perform joins. I am also more knowlegable with accessing databases, manipulating data, and looking at trends via the project.
2. The examples that we ran through in class through the example notebooks was the best way for me to learn. I also think the assignment really let me employ those skills that I learned from the notebooks. I was ablt to transform the queries we used to match what we needed to ask in the assignment.
3. I am already using the skills I learned in this class in my job. Learning and working with datasets is an integral skill. I preiouvsly had to work with databases and use joins in a previous job, and struggled a lot with the joins. If I had this knowledge, I would not have had such issues.

## References

Both datasets used in this Assignment are licensed under the Open Government License - City of Calgary.

School Enrolment Data [online], May 12, 2023. Open Data (City of Calgary). Available from: https://data.calgary.ca/Demographics/School-Enrolment-Data/9qye-mibh/about_data [Accessed 24 Mar 2024].

Schools [online], March 1, 2024. Open Data (City of Calgary). Available from: https://data.calgary.ca/Services-and-Amenities/Schools/fd9t-tdn2/about_data [Accessed 24 Mar 2024].